@import '../../styles/settings/settings.variables';
@import '../../styles/settings/settings.colors';

.line{
    border-color: $weirdGreen-color;
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    color: white;
}

.concerts {
    padding: 19px;
    padding-top: 30px;
    overflow: auto;
    height: calc(100vh - #{$header-height} - #{$main-menu-height});
    width: 100%;

    &__position{
        margin-right: 10px;
    }

    &__submenu{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

}



