@import '../../styles/settings/settings.variables';


body {
    color: white;
}

.search {
    padding: 19px;
    overflow: auto;
    height: calc(100vh - #{$header-height} - #{$main-menu-height});
    width: 100%;

    &__music{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    &__iframe{
        margin-bottom: 20px;
    }
}